<% if user_signed_in? %>
  <% if ! play.favorite_user(current_user) %>
    <%= button_to play_favorites_path(play), remote: true, method: :post do %> 
      <%= image_tag("icon_red_heart.png") %>
    <% end %>  
  <% else %>
    <%= button_to play_favorite_path(play.favorite_user(current_user.id), play_id: play.id), remote: true, method: :delete do %>
      <%= image_tag("icon_black_heart.png") %> <span>いいね解除</span>
    <% end %>  
  <% end %>  
<% end %>  

