<div class="row">
<% @plays.each do |play| %>
  <div class="col-md-3">
    <%= link_to (play_path(play)) do %>
      <%= image_tag play.image.variant(resize: "240x320"), class: "play-index" %> 
    <% end %>  
  </div>  
<% end %>
</div>