<div class="row">
<% @search_plays.each do |play| %>
  <div class="col-md-3 text-center">
    <% if play.image.attached? %>
      <%= link_to (play_path(play)) do %>
        <%= image_tag play.image.variant(combine_options:{resize:"220x290^",crop:"220x290+0+0",gravity: :center, border:'2',bordercolor:'black'}) , class: "play-index" %> 
      <% end %>  
    <% end %>
  </div>  
<% end %>
</div>
<%= paginate @plays %>
