<div class="row">
  <% @users.each do |user| %>
    <div class="col-md-3">
      <%= link_to (user_path(user)) do %>
        <% if user.avatar.attached? %>
          <%= image_tag user.avatar.variant(combine_options:{resize:"280x280^",crop:"280x280+0+0",gravity: :center}) %>
          <p class="color-white"><%= user.name %>のfavorites Movie</p>
        <% else %>
          <%= user.name %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>