 @import "bootstrap-sprockets";
 @import "bootstrap";

 .play-index{
   margin-top: 15px
 }

 .navbar-default {
  background-color: #202423;
  border-color: #0d0e0d;
  }

  .navbar-text {
    color: rgba(231, 228, 231, 0.979); }

  .play-show{
    color: whitesmoke
  }

  .logo{
    color: whitesmoke
  }

  .color-white{
    color: whitesmoke
  }