 @import "bootstrap-sprockets";
 @import "bootstrap";

 .play-index{
   margin-top: 15px
 }

 .navbar-default {
  background-color: #202423;
  border-color: #0d0e0d;
  }

  .play-show{
    color: whitesmoke
  }

  .color-white{
    color: whitesmoke
  }

  #logo {
    font-family: cursive;
    font-size: 1.9em;
    color: #fff;

  }

  #logo:hover {
    color: red;
    text-decoration: none;
  }

  

