 @import "bootstrap-sprockets";
 @import "bootstrap";

 .play-index{
   margin-top: 15px
 }

 .navbar-default {
  background-color: #202423;
  border-color: #0d0e0d;
  }

  nav {
    font-size: 1.2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(236, 243, 236);
    a:link {color:rgb(245, 237, 237); text-decoration:none }
    a:visited { color:rgb(10, 10, 10); text-decoration:none }
    a:hover { color:rgb(167, 107, 29); text-decoration:none }
    a:active { color:white; text-decoration:none }
  }
  


  #logo {
    font-family: cursive;
    font-size: 2.0em;
    color: #fff;

  }

  #logo:hover {
    color: rgb(60, 151, 17);
    text-decoration: none;
  }

  body{
    font-family: cursive;
  }

  .related-plays{
    margin-top: 10px
  }

  .related_image{
    margin-top: 10px
  }
  

